<div class="login-background"></div>

<div class="login-card-wraper">
  <div class="login-card">
    <br>
    <h1 class="header-logo">Meetup</h1>
    <hr>


    <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
      <label for="user">User/E-mail</label>
      <input type="text" class="form-control input-theme" id="user" formControlName="userName" placeholder="user">
      <br>
      <label for="password">Password</label>
      <input type="password" class="form-control input-theme" id="password" formControlName="password" placeholder="password">
      <br>
      
      <button class="btn login-btn" [disabled]="!loginForm.valid" type="submit">login</button>
      <div class="error" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
        password shoud be in combination of alphabet and numbers
      </div>
     

    </form>
  </div>
</div>




{{loginForm.errors }}