.view{
  height:auto;
}
.blue-gradient{
      background: linear-gradient(40deg,#964d99,#8392f8)!important;
}

.show{
  width: 350px;
  height: 200px;
  margin: 10px;
  font-size: 20px;
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 overflow: hidden
}
.overlay{
  background-color: rgba(0, 0 ,0 ,0.85);
  width:350px;
  color:white;
  text-align:center;
  height: 200px;
  padding-top: 15%;
  transition: .2s;
  
}

.image{
  z-index: -1;
  width:350px;
  height: 200px;
  position: absolute;
  transition: .2s;
}
.image:hover{
  width:400px;
  height: 250px;
}

.hero-back{
  background: #964d99;
  padding-top: 5%;
}

.show:hover{
  font-size: 25px;
  cursor: pointer;
}


.container{
  
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}

