  
    <div class="view intro-2" style="">
  
      <div class="full-bg-img">
        <div class="mask rgba-purple-light flex-center">
          <div class="container text-center white-text wow fadeInUp">
            <h1 class="slogan">The real world is calling</h1>
            <br>
            <h5>Join a local group to meet people, try something new, or do more of what you love.</h5>
            <a [routerLink]="['/login']" class="button button_primary">Join Us</a>
            
          </div>
        </div>
      </div>
    </div>
  
  <main class="text-center py-5">


    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <p align="justify">Meetup is an online service used to create groups that host local in-person events.As of 2017, there are about 35 million Meetup users. Each user can be a member of multiple groups or RSVP for any number of events. Users are usually using the website to find friends, share a hobby, or for professional networking. Meetup users do not have "followers" or other direct connections with each other like on other social media sites. </p>
          <p align="justify">
Meetup users self-organize into groups. As of 2017, there are about 225,000 Meetup groups in 180 countries.Each group has a different topic, size, and rules.Groups are associated with one of 30+ categories and any number of more than 18,000 tags that identify the group's theme.The most popular categories are "adventure and outdoor activities, career and business, and parents and family." Most events are on a structured schedule each week or month at a local venue, typically on evenings or weekends.[35] </p><p align="justify">
Meetup groups are run by approximately 140,000 organizers. Any Meetup user can be an organizer.Organizers set up groups, organize events, and develop event content. They also pay a fee to run the group, under the expectation of sharing the cost with members that attend events. Meetup has policies against organizing meetups around a commercial interest, hate speech, or groups that do not meet in-person. About 28% of organizers have sponsors that provide venues, drinks, and event content. </p>

        </div>
      </div>
    </div>

  </main>